<div class="article-content">
  <slot>
    <p style="color: red; padding: 2rem; border: 2px dashed red;">
    </p>
  </slot>
</div>

<style is:global>
  .article-content {
    max-width: 800px;
    margin: 2rem auto;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }

  .article-content img {
    border-radius: 0.75rem;
    border: 1px solid var(--sl-color-gray-5);
    margin: 2rem 0 0.5rem 0;
  }

  .article-content .caption {
    display: block;
    text-align: center;
    font-size: 0.85rem;
    color: var(--sl-color-gray-4);
    font-style: italic;
    margin-bottom: 2.5rem;
  }

  .article-content h2 {
    color: var(--sl-color-accent-high);
    border-bottom: 1px solid var(--sl-color-gray-5);
    padding-bottom: 0.5rem;
    margin-top: 3rem !important;
  }

  .article-content blockquote {
    border-left: 4px solid var(--sl-color-accent);
    padding: 0.5rem 0 0.5rem 1.5rem;
    font-style: italic;
    margin: 2.5rem 0;
    background: var(--sl-color-gray-6);
  }

  .article-content .lead {
    font-size: 1.2rem;
    color: var(--sl-color-white);
    font-weight: 500;
  }
  
</style>
