<div class="custom-timeline not-content">
  <slot />
</div>

<style>
  .custom-timeline {
    border-left: 2px solid var(--sl-color-gray-5);
    margin-left: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>